# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.tsbuildinfo

# Environmental variables & secrets
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
